<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThinkGin</title>
</head>
<body>
<style type="text/css">* {
    padding: 0;
    margin: 0
}

.think_default_text {
    padding: 4px 48px
}

a {
    color: #2E5CD5;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

body {
    background: #fff;
    font-family: "CenturyGothic", "Microsoft yahei";
    color: #333;
    font-size: 18px
}

h1 {
    font-size: 100px;
    font-weight: normal;
    margin-bottom: 12px
}

p {
    line-height: 1.6em;
    font-size: 42px
}</style>
<div style="padding: 24px 48px;"><h1>:)</h1>
    <p>ThinkGin1.0<br/><span style="font-size:30px">十年磨一剑(目前磨了半年)-为Go开发设计的高性能框架</span></p>

    <a href="https://gitee.com/cww0128/thinkgin_blog_new" title="官方源码下载" target="_blank">官方源码下载</a>
    <a href="https://github.com/gin-gonic/gin" title="特别鸣谢Gin" target="_blank">特别鸣谢Gin</a>
</div>

</body>
</html>